<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>

    <add key="conn" value="Data Source=123.206.216.33;User ID=sa;Password=aibangaibang;Persist Security Info=True;Initial Catalog=smsc"/>
 
    <!--fuwuqicch-->
  </appSettings>

  <system.web>
    <!--30分钟  或者 在调用Session的cs页中，Load事件里面写以下　　Session.Timeout = 30;-->
    <sessionState mode="InProc" timeout="100"/>
    
    <compilation debug="true" targetFramework="4.5" >
      <!-- 加上此节点，保证原本就是.html类型的文件能正常访问 -->
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
