
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1482232086188'); /* IE9*/
  src: url('iconfont.eot?t=1482232086188#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1482232086188') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1482232086188') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1482232086188#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ChristmasCandy:before { content: "\e665"; }

.icon-ChristmasGift:before { content: "\e666"; }

.icon-ChristmasCandle:before { content: "\e667"; }

.icon-CandyCane:before { content: "\e668"; }

.icon-ChristmasBall:before { content: "\e669"; }

.icon-ChristmasMitten:before { content: "\e66a"; }

.icon-ChristmasPenguin:before { content: "\e66b"; }

.icon-ChristmasStar:before { content: "\e66c"; }

.icon-ChristmasStocking:before { content: "\e66d"; }

.icon-ChristmasTree:before { content: "\e66e"; }

.icon-Church:before { content: "\e66f"; }

.icon-Cookies:before { content: "\e670"; }

.icon-CinnamonSticks:before { content: "\e671"; }

.icon-Cruse:before { content: "\e672"; }

.icon-Firework:before { content: "\e673"; }

.icon-Dreidel:before { content: "\e674"; }

.icon-Fireplace:before { content: "\e675"; }

.icon-HanukkahDonut:before { content: "\e676"; }

.icon-GingerbreadHouse:before { content: "\e677"; }

.icon-HanukkahGlass:before { content: "\e678"; }

.icon-GingerbreadMan:before { content: "\e679"; }

.icon-Hanukkah:before { content: "\e67a"; }

.icon-HolyBible:before { content: "\e67b"; }

.icon-HanukkahGelt:before { content: "\e67c"; }

.icon-IceSkate:before { content: "\e67d"; }

.icon-JingleBell:before { content: "\e67e"; }

.icon-Lantern:before { content: "\e67f"; }

.icon-Pie:before { content: "\e680"; }

.icon-Scarf:before { content: "\e681"; }

.icon-Santa:before { content: "\e682"; }

.icon-SnowStorm:before { content: "\e683"; }

.icon-Sled:before { content: "\e684"; }

.icon-Snowman:before { content: "\e685"; }

.icon-StarofBethlehem:before { content: "\e686"; }

.icon-Synagogue:before { content: "\e687"; }

